@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-body: #020617;
	--background-card: #FFF;
	--background-picture: #F7E4F1;
	--background-tag: #E6D6FC;
	--text-tag: #883AE1;
	--text-title: #20293A;
	--text-paragraph: #6C727F;
	--text-footer: #6C727F;
	
	font-family: 'Sora', sans-serif;
}

body {
	background: var(--background-body);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100dvh;
	padding: 1rem;
	
	.card {
		background: var(--background-card);
		width: 100%;
		max-width: 21rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		
		& picture {
			background: var(--background-picture);
			width: 100%;
			height: 9.5rem;
			display: block;
			border-radius: 1rem;
			
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		
		.tag {
			background: var(--background-tag);
			color: var(--text-tag);
			width: fit-content;
			padding: .5rem 1.5rem;
			border-radius: 1rem;
			font-weight: bold;
			font-size: .625rem;
		}
		
		.body-card {
			.title {
				font-size: 1.125rem;
				font-weight: bold;
				color: var(--text-title);
			}
			
			.paragraph {
				color: var(--text-paragraph);
				font-size: 0.875rem;
				text-wrap: wrap;
			}
		}
	}
	
	& footer {
		border-top: 1px solid var(--text-footer);
		font-size: 0.75rem;
		color: var(--text-footer);
		background: var(--background-card);
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		padding: 1rem;
	}
}
